


* {
box-sizing: border-box;
text-transform: capitalize;
font-family: Arial, Helvetica, sans-serif;
}
body {
background-color: #EEE;
}
.container {
position: relative;
width: 550px;
height: 850px;
background-color: #FFF;
margin: 150px auto;
border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
box-shadow: 3px 3px 10px #dddcdc,
            -3px -3px 10px #dddcdc;
}
.container::after {
position: absolute;
content:"A+";
width: 35px;
height: 35px;
background-color: #3B74BA;
color: #fff;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
right: 20px;
bottom: -16px;
}
img {
position: absolute;
top: -88px;
margin-left: 180px;
width: 100px;
}
.container .header {
text-align: center;
padding-top: 40px;
}
.container .header h1 {
color: #3B74BA;
font-size: 25px;
letter-spacing: -2px;
}
.container .header h3 {
color: #909090;
font-size: 14px;
letter-spacing: -0.5px;
font-weight: 200;
word-spacing: 2px;
margin-top: -10px;
}
hr {
display: block;
width: 390px;
margin: 15px auto;
border-color: #f8f8f86b;
}
.social .one {
display: flex;
justify-content: space-between;
width: 390px;
height: 40px;
margin: 0 auto;
background-color: #F6F6F6;
padding: 0 15px;
}

.social .two {
    display: flex;
    justify-content: space-between;
    width: 390px;
    margin: 0 auto;
    background-color: #F6F6F6;
    padding: 0 15px;
    }
.social .one {
margin-bottom: 15px;
}
.social p {
font-size: 15px;
}


/* form */

.form-title{
    margin-bottom: 10rem;
}

.form-control{
    border-radius: 1rem;
    padding: 0 3.5rem;
}

.mybtn{
    margin-top: 1rem;
}
button{
    border-radius: 0;
}

.mybtn:hover{
    background-color:#78e08f;
  }

input:hover{
    border: 2px solid #ced6e0;
}

textarea:hover{
    border: 2px solid #ced6e0;
}


.error {
    background-color: #ff4757;
  }
  
  .send {
    background-color :#78e08f;
    padding: 5rem;
    border-radius: 1rem;
    font-weight: bolder;
    font-size: x-large;
  }

  #instructions {
    color: white;
  }
  a.btn {
	text-decoration: none;
	background-color: #9c63e6;
	color: #fff;
	padding: 12px 25px;
	border: 2px solid #fff;
	border-radius: 8px;
}
a.btn:hover {
	border: 2px solid #74c485;
	background-color: #fff;
	color: #74c485;
}




  
  .box{
	max-width: 300px;
	background: rgb(68, 166, 231);
	padding: 10px;
 margin-left: 90px;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
  }
  .upload-area-title{
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 600;
  }
  .uploadlabel{
	width: 100%;
	min-height: 80px;
	background-color: rgb(253, 253, 253);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed rgb(1, 154, 243);
	cursor: pointer;
  }
  .uploadlabel span{
	font-size: 50px;
	color: rgb(1, 154, 243);
  }
  .uploadlabel p{
	color:rgb(1, 154, 243);
	font-size: 15px;
	font-weight: 700;
	font-family: cursive;
  }
  .uploaded{
	margin: 30px 0;
	font-size: 16px;
	font-weight: 700;
	color: rgb(109, 107, 104);
  }
  .showfilebox{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	padding: 10px 15px;
	box-shadow: #0000000d 0px 0px 0px 1px,
	#d1d5db3d 0px 0px 0px 1px inset;
	
  }
.showfilebox .left{
	display: flex;
	align-items: center;
	flex-wrap:wrap;
	gap:10px;

}
.filetype{
	background-color: rgb(41, 159, 228);
	color: aliceblue;
	padding: 5px 15px;
	font-size: 13px;
	text-transform: capitalize;
	font-weight: 700;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
}
.left h3{
	font-weight: 600;
	font-size: 13px;
	color: black;
	margin: 0;
}
.right span{
	background:  rgb(41, 159, 228);
	color: #fff;
	width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 25px;
	display: inline-block;
	text-align: center;
	font-weight: 700;
	border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}



