


* {
box-sizing: border-box;
text-transform: capitalize;
font-family: Arial, Helvetica, sans-serif;
}
body {
background-color: #EEE;
}
.container {
position: relative;
width: 450px;
height: 330px;
background-color: #FFF;
margin: 150px auto;
border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
box-shadow: 3px 3px 10px #dddcdc,
            -3px -3px 10px #dddcdc;
}
.container::after {
position: absolute;
content:"A+";
width: 35px;
height: 35px;
background-color: #3B74BA;
color: #fff;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
right: 20px;
bottom: -16px;
}
img {
position: absolute;
top: -88px;
margin-left: 180px;
width: 100px;
}
.container .header {
text-align: center;
padding-top: 40px;
}
.container .header h1 {
color: #3B74BA;
font-size: 25px;
letter-spacing: -2px;
}
.container .header h3 {
color: #909090;
font-size: 14px;
letter-spacing: -0.5px;
font-weight: 200;
word-spacing: 2px;
margin-top: -10px;
}
hr {
display: block;
width: 390px;
margin: 15px auto;
border-color: #f8f8f86b;
}
.social .one {
display: flex;
justify-content: space-between;
width: 390px;
margin: 0 auto;
background-color: #F6F6F6;
padding: 0 15px;
}
.social .one {
margin-bottom: 5px;
}
.social p {
font-size: 15px;
}

