* {
	box-sizing: border-box;
}
.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}
.center-block {
	margin: auto;
}
body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: #776c6c;
	line-height: 1.5;
}


.inbound-guides {
	margin: 130px auto 10px auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
}
h1 {
	font-size: 45px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 1px;
}
h2 {
	font-size: 35px;
	color: #333;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 1px;
}
h3 {
	font-size: 25px;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #8e8e8e;
}
.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 90%;
	margin: 10px auto;
}
.content-img, .content-right-img {
	width: 100%;
}
.content-right-img img {
	float: right;
}
.content-info {
	width: 70%;
}
.content-info p {
	margin-bottom: 30px;
}
a.btn {
	text-decoration: none;
	background-color: #74c485;
	color: #fff;
	padding: 12px 25px;
	border: 2px solid #fff;
	border-radius: 8px;
}
a.btn:hover {
	border: 2px solid #74c485;
	background-color: #fff;
	color: #74c485;
}
.resource-library {
	margin: 100px auto 0 auto;
	padding-top: 50px;
	padding-bottom: 90px;
	background-color: #f3f3f3;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.slider {
	background-color: #f3f3f3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* allows for horizontal scrolling */
	overflow-x: auto;
	/* makes it smooth for iOS */
	-webkit-overflow-scrolling: touch;
	width: 80%;
	margin: auto;
}
.slider>div {
	background-color: #fff;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 50%;
	border-radius: 6px;
	padding: 15px;
	margin-right: 10px;
}
.slider>div>h3 {
	color: #000;
	text-transform: none;
}
.slider>div>img {
	width: 100%;
}
a.resource-btn {
	text-decoration: none;
	background-color: #fff;
	font-size: 14px;
	color: #008cbf;
	padding: 10px 20px;
	border: 1px solid #008cbf;
	border-radius: 8px;
}
a.resource-btn:hover {
	border: 1px solid #008cbf;
	background-color: #008cbf;
	color: #fff;
}

@media only screen and (max-width: 1200px) {
	.content {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 20px auto;
	}
	.content-img img, .content-right-img img {
		margin: 0 auto;
	}
	.content-right-img img {
		float: none;
	}
	.content-img {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 1;
		order: 1;
		-webkit-order: 1;
	}
	.content-info {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
		order: 2;
		-webkit-order: 2;
		width: 100%;
	}
}
@media only screen and (max-width: 1100px) {
	
	.inbound-guides {
		margin-top: 180px;
	}
	footer {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 15px;
	}
}
@media only screen and (max-width: 900px) {
	.slider {
		display: block;
		overflow-x: hidden;
	}
	.slider>div {
		margin: 0 auto 20px auto;
		width: 100%;
	}
}