@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

*{
  padding: 0;
  margin: 0;
  
}




*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(252, 252, 250); */
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}
.container {
  padding: 0 2rem;
}

/* -- BODY -- */
body {
  
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color:white;
}

/* ================= HEADER ================ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(252, 251, 250);
  padding: 1rem 2rem;
}
.company-logo {
  height: 80px;
  width:80px;
  margin-right: 1000px;
}


nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family:'Times New Roman', Times, serif;
	padding: 0 16%;
	height: 100px;
  background-color: #fdfafa;
}

nav .links {
	float: right;
	padding: 8px 16px;
	margin: 0;
	width: 60%;
	height: 100%;
  margin-top: -100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color:#363232;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
  
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #030303;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
nav .links a:hover{
  text-decoration: underline ;
  text-decoration-color: rgb(233, 3, 3);
  text-decoration: underline bold;
}

@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		overflow: hidden;
    background-color: rgba(252, 245, 245, 0.8);
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
   
   
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

/* Responsive styles for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  /* adjust header layout */
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  /* adjust slogan text size */
  .company-title {
    font-size: 36px;
  }
  
  .company-slogan {
    font-size: 24px;
  }
  

  
  
}

/* -------- HOME SECTION -------------- */
.section-1 {
  display: grid;
 
}
 .home-computer-container {
  padding-top: -40%;
 } 

.slogan .company-title {
  margin-top: -20px;
  font-size: 1.5rem;
  color:rgb(54, 52, 52);;
  font-weight: 600;
}
.slogan .company-slogan {
  color:rgb(136, 132, 132);
  letter-spacing: -normal;
}


h3{
  text-align: center;
}





/* =============== MEDIA QUERIES ======= */

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
  /* ================= HEADER ================ */
  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: rgb(230, 231, 223);
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }
}
@media (min-width: 769px) {
  header {
    padding: 1rem 5rem;
  }
  /* ================= MAIN ================ */

  /* -------- HOME SECTION -------------- */
  .section-1 {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding: 10rem 5rem 0 5rem;
  }
  .slogan .company-title {
    max-width: 30rem;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
  }
  .slogan .company-slogan {
    max-width: 20rem;
    font-size: 1.3rem;
  }
}

  
  


/* ALL YOU NEED  */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

}

.h3 {
 text-align: center;
  padding: 150px;

 
}

i {
  font-size: 40px;
  margin-top: -150px;
  padding: 120px;
  color:#ec2370;
 
}

.icon-with-text-1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.icon-with-text-1 i {
  font-size: 48px; /* adjust as needed */
  margin-bottom: -80px; /* adjust as needed */
}


 .icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*displays the icon 3 in 1 row */
  gap: 160px;
  text-align: left;
  padding-top: 10%;
  padding-bottom: 10%;
}

.icon-grid .icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-grid i {
  font-size: 48px;
  margin-bottom: -80px;
}


  /* media query for smaller screens */
  @media (max-width: 768px) {
    .icon-grid {
      grid-template-columns: repeat(2, 1fr); /* displays the icon 2 in 1 row */
      gap: 80px;
    }
    
    .icon-with-text {
      text-align: center;
    }
    
    .icon-grid i {
      font-size: 32px;
      margin-bottom: -40px;
    }
  }
  
  /* media query for even smaller screens */
  @media (max-width: 480px) {
    .icon-grid {
      grid-template-columns: 1fr; /* displays the icon 1 in 1 row */
      gap: 40px;
    }
    
    .icon-grid .icon-with-text {
      margin-bottom: 40px;
    }
    
    .icon-grid i {
      font-size: 24px;
      margin-bottom: -20px;
    }
  }


.h1{
 font-family: "Open Sans", sans-serif;;
  text-align: center;

}
.h1{
  padding-top: 70px;
}


.erp{
  max-width: 100%;
  height: auto;
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto; /* This centers the image horizontally */
  padding-top: 70px;

}

.icon-with-text .h4{
  font-family: "Open Sans", sans-serif;;
}
 


/* 
/* footer */


.site-footer
{
background-color:#26272b;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
text-align: center;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.container{
  height: auto;
}
.site-footer hr.small
{

margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#a79d9d;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}

.copyright-text
{
margin:0
}




@media (max-width:991px)
{
.site-footer [class^=col-]
{
margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
padding-bottom:0;
}
}


/* footer */


.site-footer
{
background-color:#26272b;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
text-align: center;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.container{
  height: auto;
}
.site-footer hr.small
{

margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#a79d9d;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}

.copyright-text
{
margin:0;
padding-left: 300px;
}




@media (max-width:991px)
{
.site-footer [class^=col-]
{
margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
padding-bottom:0;
}
}

