* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}

body {
  background-color: peach;
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #3f3a3a;
  font-size: 14px;
}

a:hover {
  color: #2196F3;

}


header {
  position: relative;
  padding: 0 2rem; 

}
#first_content h1{
  max-width: 100%;
  height: auto;
  font-size: 70px;
}
#second_content p{
  max-width: 100%;
  height:auto;

}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styles for the logo container */
.logo {
  display: flex;
  align-items: center;
  
}

/* Styles for the logo image */
.logo img {
  max-width: 100px;
  height: auto;
  margin-top: 60px;
  margin-right: 10px;
  

}
 .navbar p{
  margin-top: 60px;
}

.navbar p:hover{
color: #2196F3;
}


.navbar .links {
  display: flex;
  gap: 2rem;
}


.navbar .toggle_btn {
  color: #070707;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color:#2196F3;
  color: #f7f9fa;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 0.95;
  color:#f7f9fa;
}

/* for drop_down */
.dropdown_menu {
  position: absolute;
  display: none;
  height: 0;
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blure(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
 section#first_content{
  max-width: 100%;
  height: auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding-left:250px;
  margin-top: 300px;
  color:#3f3a3a;
} 

section#second_content{
  max-width: 100%;
  height: auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding-left:250px;
  margin-top: 200px;
  color:#3f3a3a;

}
section#third_content{

  font-size:  26px;
  font-stretch: normal;
  display: inline-flex;
  flex-direction: column;
  padding-left:200px;
  margin-top: 150px;
  line-height: 16px;

;
}

.action_btn2{
  background-color: #2196F3;
  color: #f7f9fa;
  width:100px;
  padding: 1rem 10rem 1rem 1rem;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action_btn2:hover{
  color:#f7f9fa;
  scale: 0.95;
}
.image{
  max-width: 100%;
  position: relative;
  margin-top: -500px;
  padding-left: 900px;
  height: auto;
  display: block;
}


/* Responsive */

@media (max-width: 992px) {

  .navbar .links,
  .navbar .action_btn{
    display: none;

  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
    /* image */
    .image{
      text-align:left;
      padding: 100px 11px 19px; 
      
      }
      .img1 .iamge{
      display:block;
      }
   
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
/* Style for mobile screens */
@media (max-width: 992px) {
  section#first_content{
    text-align:left;
    padding:3%;
    padding-bottom: 1px;
    }
    section#first_content .h1{
    display:block;
    margin:10px 0px;
    text-align:left;
    padding:10%;
    }
    section#first_content .action_btn2{
    margin:0% 6%;
    }
/* 
    second_content */

    section#second_content{
      text-align:left;
      padding:5%;
      }
      section#second_content .pre{
      display:block;
      margin:10px 0px;
      text-align:left;
      }
     

/* third_content */ 

section#third_content{
  text-align:left;
  padding:5%;
  }
  section#third_content .pre{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
 

   }



/* footer */
  .footer{
  background:#000;
  margin-top: 1000px;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width: 992px) {
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
  
  